<!-- <footer class="footer">
  <ul class="content">
    <li>
      <a class="content_item" href="https://adalab.es/" target="_blank"
        >Contacto</a
      >
    </li>
    <li>
      <a class="content_item" href="https://adalab.es/" target="_blank"
        >Términos y condiciones</a
      >
    </li>
    <li>
      <a class="content_item" href="https://adalab.es/" target="_blank"
        >Privacidad</a
      >
    </li>
    <li>
      <a class="content_item" href="https://adalab.es/" target="_blank"
        >Preguntas frecuentes
      </a>
    </li>
    <li>
      <p>Todos los derechos reservados</p>
    </li>
  </ul>
</footer> -->
