<header class="header">
  <div class="toolbar">
    <span class="app_name">Buscador de bebidas</span>

    <form id="form" class="form">
      <input
        id="search"
        type="text"
        class="input_search"
        name="search"
        placeholder="Margarita, ..."
      />
      <input id="submit" type="submit" value="Buscar" class="submit_button" />
      <input
        id="reset"
        type="reset"
        value="Eliminar Favoritos"
        class="submit_button"
      />
    </form>
  </div>
</header>
