.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .main {
    margin-top: 86px;
    flex-grow: 1;
  }

  @media all and (min-width: 680px) {
    .main {
      margin-top: 50px;
    }
  }
}
