.toolbar {
  background-color: white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 86px;
  font-size: 0.8rem;
  padding-top: 1rem;

  .app_name {
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .input_search,
  .submit_button {
    box-sizing: border-box;
    height: 30px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }
  .submit_button {
    background-color: #f8b5d6;
    color: $color_text;
  }
  .reset {
    background-color: #e5ddf1;

    &:hover {
      background-color: #dbcaf4 !important;
    }
  }
  .submit_button:hover {
    background-color: hsl(331, 100%, 90%);
  }
  .input_search {
    padding: 0 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 249, 249);
    width: 200px;
  }

  @media all and (min-width: 680px) {
    height: 100px;
  }
}
