.main {
  // background-color: $main_background;
  background-image: url('https://marketplace.canva.com/EAEK4dC2olw/1/0/1600w/canva-arco%C3%ADris-gradiente-rosa-y-naranja-fondo-virtual-para-zoom-c3PYha1JI9M.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .bookmarks_container,
  .list_container {
    border: solid 1px grey;
    border-radius: 4px;
    padding: 1rem;
    text-transform: capitalize;
  }

  .bookmarks_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    height: 90px;

    @media all and (min-width: 680px) {
      height: 90px;
      overflow-x: auto;
    }
  }
  .bookmarks_container > li {
    display: flex;
    flex-direction: column;
  }

  .bookmarks_container > li > p {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.5rem;
    height: 20px;
    display: flex;
    align-items: center;

    @media all and (min-width: 500px) {
      font-size: 1rem;
    }
  }
  .bookmarks_container > li > img {
    max-width: 60px;

    @media all and (min-width: 500px) {
      max-width: 120px;
    }
  }
  .bookmarks_container > li > button {
    width: 20px;
    height: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 0.5rem;
    position: relative;
    left: 40px;
    bottom: 75px;
    @media all and (min-width: 500px) {
      max-width: 120px;
      height: 20px;
      left: 100px;
      bottom: 140px;
    }
  }
  .list_container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    height: 100vh;
    overflow-x: auto;

    @media all and (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .list_container > li {
    max-width: fit-content;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
  }

  .list_container > li > p {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 20px;

    @media all and (min-width: 680px) {
      height: 30px;
      width: 100%;
    }
  }
  .list_container > li > img {
    max-width: 120px;

    @media all and (min-width: 680px) {
      flex-direction: row;
      max-width: 230px;
    }
  }

  @media all and (min-width: 500px) {
    flex-direction: row;

    .bookmarks_container {
      flex-direction: column;
      height: 100vh;
      overflow-x: auto;
      width: 180px;
    }
  }
}
